@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding Base Styles */
/* base untuk tampilan mobile & tablet */
@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Montserrat-Regular.ttf');
  }

  html {
    @apply font-montserrat;
  }
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }
}

/* untuk tampilan desktop */
@screen md {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-base;
  }
}
